  <nav>
    <div class="nav-wrapper" id="articleNav">
      <a href="/" class="brand-logo center">Tech News Scraper</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/mmeganshaw/tech" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>